@if (title || subtitle) {
  <div class="header">
    @if (title) {
      <h3 class="header__title">{{ title }}</h3>
    }
    @if (subtitle) {
      <p class="header__subtitle">{{ subtitle }}</p>
    }
  </div>
}

<form class="form" [formGroup]="form">
  <div class="form__currency-row">
    <div class="form__currency-row__field">
      <label class="form__currency-row__field__label"><b>From Currency *</b></label>

      <app-autocomplete
        class="form__currency-row__field__autocomplete"
        [formControlName]="formControls.FROM_CURRENCY"
        [items]="filteredFromCurrencies"
        (completeMethod)="filterFromCurrencies($event)"
        placeholder="Select currency"
        [dropdown]="true"
        [showClear]="true"
      />

      @if (
        form.get(formControls.FROM_CURRENCY)?.touched &&
        form.get(formControls.FROM_CURRENCY)?.errors
      ) {
        <small class="form__currency-row__field__error">
          @if (form.get(formControls.FROM_CURRENCY)?.errors?.['required']) {
            {{ formErrorMessages.REQUIRED }}
          }
        </small>
      }
    </div>

    <div class="form__currency-row__field">
      <label class="form__currency-row__field__label"><b>To Currency *</b></label>

      <app-autocomplete
        class="form__currency-row__field__autocomplete"
        [formControlName]="formControls.TO_CURRENCY"
        [items]="filteredToCurrencies"
        (completeMethod)="filterToCurrencies($event)"
        placeholder="Select currency"
        [dropdown]="true"
        [showClear]="true"
      />

      @if (
        form.get(formControls.TO_CURRENCY)?.touched && form.get(formControls.TO_CURRENCY)?.errors
      ) {
        <small class="form__currency-row__field__error">
          @if (form.get(formControls.TO_CURRENCY)?.errors?.['required']) {
            {{ formErrorMessages.REQUIRED }}
          }
        </small>
      }
      @if (form.hasError('sameCurrency')) {
        <small class="form__currency-row__field__error">{{
          formErrorMessages.SAME_CURRENCY
        }}</small>
      }
    </div>
  </div>

  <div class="form__amount">
    <label class="form__amount__label"><b>Amount *</b></label>
    <app-input-number
      class="form__amount__input"
      [formControlName]="formControls.AMOUNT"
      mode="decimal"
      [minFractionDigits]="2"
      [maxFractionDigits]="2"
      placeholder="Enter amount"
      [min]="formValidators.MIN_AMOUNT"
    />

    @if (form.get(formControls.AMOUNT)?.touched && form.get(formControls.AMOUNT)?.errors) {
      <small class="form__amount__error">
        @if (form.get(formControls.AMOUNT)?.errors?.['required']) {
          {{ formErrorMessages.REQUIRED }}
        }
        @if (form.get(formControls.AMOUNT)?.errors?.['min']) {
          {{ formErrorMessages.MIN_AMOUNT }}
        }
      </small>
    }
  </div>
</form>

@if (form.valid && fromCurrency && toCurrency && amount) {
  <app-conversion-result
    [isLoading]="isLoading"
    [conversionValue]="currencyConversionValue"
    [fromCurrency]="fromCurrency"
    [toCurrency]="toCurrency"
    [amount]="amount"
    [exchangeRate]="exchangeRate"
  />
}
