@use 'assets/styles/globals';
@use 'assets/styles/texts';
@use 'assets/styles/sizes';
@use 'assets/styles/colors';

@import 'primeicons/primeicons.css';

html {
  height: 100%;
}

body {
  color-scheme: light;
  background-color: #ffffff;
  color: colors.$gray-100;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
