@use 'fonts';
@use 'sizes';

@mixin h1-mobile() {
  font-size: var(--font-size-h1-mobile);
  line-height: var(--line-height-h1-mobile);
  font-family: var(--font-family-primary);
}

@mixin h1-desktop() {
  font-size: var(--font-size-h1-desktop);
  line-height: var(--line-height-h1-desktop);
  font-family: var(--font-family-primary);
}

@mixin h1() {
  @include h1-mobile();

  @media screen and (min-width: sizes.$tablet-size) {
    @include h1-desktop();
  }
}

@mixin h2-mobile() {
  font-size: var(--font-size-h2-mobile);
  line-height: var(--line-height-h2-mobile);
  font-family: var(--font-family-primary);
}

@mixin h2-desktop() {
  font-size: var(--font-size-h2-desktop);
  line-height: var(--line-height-h2-desktop);
}

@mixin h2() {
  @include h2-mobile();

  @media screen and (min-width: sizes.$tablet-size) {
    @include h2-desktop();
  }
}

@mixin h3-mobile() {
  font-size: var(--font-size-h3-mobile);
  line-height: var(--line-height-h3-mobile);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
}

@mixin h3-desktop() {
  font-size: var(--font-size-h3-desktop);
  line-height: var(--line-height-h3-desktop);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
}

@mixin h3() {
  @include h3-mobile();

  @media screen and (min-width: sizes.$tablet-size) {
    @include h3-desktop();
  }
}

@mixin h4-mobile() {
  font-size: var(--font-size-h4-mobile);
  line-height: var(--line-height-h4-mobile);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
}

@mixin h4-desktop() {
  font-size: var(--font-size-h4-desktop);
  line-height: var(--line-height-h4-desktop);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-primary);
}

@mixin h4() {
  @include h4-mobile();

  @media screen and (min-width: sizes.$tablet-size) {
    @include h4-desktop();
  }
}

@mixin h5-mobile {
  font-size: var(--font-size-h5-mobile);
  line-height: var(--line-height-h5-mobile);
  font-family: var(--font-family-primary);
  font-weight: normal;
}

@mixin h5-desktop {
  font-size: var(--font-size-h5-desktop);
  line-height: var(--line-height-h5-desktop);
}

@mixin h5() {
  @include h5-mobile();

  @media screen and (min-width: sizes.$tablet-size) {
    @include h5-desktop();
  }
}

@mixin small-paragraph-desktop() {
  font-size: var(--font-size-body-small-desktop);
  line-height: var(--line-height-body-small-desktop);
}

@mixin small-paragraph-mobile() {
  font-size: var(--font-size-body-small-mobile);
  line-height: var(--line-height-body-small-mobile);
}

@mixin small-paragraph() {
  @include small-paragraph-mobile();

  font-weight: normal;

  b,
  strong {
    font-weight: var(--font-weight-bold);
  }

  @media screen and (min-width: sizes.$tablet-size) {
    @include small-paragraph-desktop();
  }
}

@mixin paragraph-mobile() {
  font-size: var(--font-size-body-mobile);
  line-height: var(--line-height-body-mobile);
}

@mixin paragraph-desktop() {
  font-size: var(--font-size-body-desktop);
  line-height: var(--line-height-body-desktop);
}

@mixin paragraph() {
  @include paragraph-mobile();

  font-weight: normal;

  b,
  strong {
    font-weight: var(--font-weight-bold);
  }

  small {
    @include small-paragraph();
  }

  @media screen and (min-width: sizes.$tablet-size) {
    @include paragraph-desktop();
  }
}
